{% extends 'stock_control/base.html' %}

{% block title %} Stock Detail {% endblock%}

{% block container %}

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ stock.name }}</h5>
      <p class="card-text">{{ stock.category }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ stock.quantity }}</li>
      <li class="list-group-item">{{ stock.unitary_value }}</li>
      <li class="list-group-item">{{ stock.created_date }}</li>
    </ul>
    <div class="card-body">
      <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>

{% endblock %}