{% extends 'stock_control/base.html' %}

{% block title %} Stock List {% endblock%}

{% block container %}
<div class="container mt-4">

  <div class="row">
    <div class="col">
      <ul class="nav flex-column pt-2">

        <li class="nav-item">
          <a class="btn btn-primary" href="{% url 'category_add' %}" style="display: flex; align-items: center; justify-content: center;">
            <span class="material-icons mr-2">
              add
            </span>
            Nova categoria
          </a>
        </li>

        <li class="nav-item mt-4 mb-3">
          <a class="btn btn-primary" href="{% url 'stock_create' %}" style="display: flex; align-items: center; justify-content: center;">
            <span class="material-icons mr-2">
              add
            </span>
            Entrada estoque
          </a>
        </li> 

      </ul>
    </div>

    <div class="col-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Value</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in all_stock %}
          <tr>
            <th scope="row">{{ stock.id }}</th>
            <td>{{ stock.name }}</td>
            <td>{{ stock.category }}</td>
            <td>{{ stock.quantity }}</td>
            <td>{{ stock.unitary_value }}</td>

            <td><a href="{% url 'stock_detail' stock.id%}">
                <span class="material-icons">
                  more
                </span>
              </a></td>

            <td><a href="{% url 'stock_edit' stock.id%}">
                <span class="material-icons">
                  edit
                </span>
              </a></td>

            <td><a href="{% url 'stock_delete' stock.id%}">
                <span class="material-icons">
                  delete
                </span>
              </a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>


      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">

          <li class="page-item">
            {% if all_stock.has_previous %}
            <a class="page-link" href="?page={{ all_stock.previous_page_number }}" tabindex="-1"
              aria-disabled="true">Previous</a>
            {% endif %}
          </li>

          {% for page in range_pages %}
          {% if page != all_stock.number %}
          <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% else %}
          <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endif %}
          {% endfor %}

          <li class="page-item">
            {% if all_stock.has_next %}
            <a href="?page={{ all_stock.next_page_number }}" class="page-link" href="#">Next</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
