{% extends 'stock_control/base.html' %}

{% block title %} Stock Edit {% endblock%}

{% block style %}
    <style>
        .formCategory {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* flex-direction: column; */
        }
    </style>
{% endblock %}

{% block container %}
    {% load crispy_forms_tags %}

    <div class="container">
        
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6 stylesheet formCategory">
                
                <form method="POST" class="post-form" style="width: 100%;">
                    <h3 class="mb-4">Cadastrar nova categoria</h3>
                    {% csrf_token %}
                    {{ category|crispy }}
                    <button type="submit" class="save btn btn-primary">Save</button>
 
                </form>
             </div>
            <div class="col-3">
            </div>
        </div>
        
    </div>
{% endblock %}

